.nav {
  background: $color-dark-grey;
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__drawer {
    display: none;
    @media (max-width: 760px) {
      display: block;
      float: right;
      height: 4rem;
    }
    &-burger {
      float: right;
      position: absolute;
      top: 2rem;
      cursor: pointer;
    }

    &-bar {
      width: 4rem;
      height: .2rem;
      background: $color-white;
      margin: 1rem 4rem;
    }

    &-list {
      // transform: translateY(-30rem);
      // padding: 8rem 0;
      list-style: none;
      transition: all .2s;
      opacity: 0;
      background: $color-dark-grey;
      transform: translateX(110%) translateY(15%);
      text-align: center;
    }
    &:hover &-list{
      transform: translateX(0) translateY(15%);
      display: block;
      opacity: 1;
    }
  }


  &__nav {
    display: flex;
    align-items: center;
    height: 100%;

    @media (max-width: 760px) {
      display: none;
    }
  }
  &__logo {
    color: $color-white;
    text-transform: uppercase;
    font-size: 3.5rem;
    margin: 1rem 3rem;
  }

  &__list {
    list-style: none;
    display: flex;
    margin: 0 2rem;

  }

  &__item {
    padding: 1.5rem;
  }
  &__link:link,
  &__link:visited {
    text-decoration: none;
    text-transform: uppercase;
    color: $color-white;
    font-size: 1.5rem;
    font-weight: bold;
  }

  &__auth {
    width: 9rem;
    text-align: center;
    &-link {
      text-decoration: none;
      color: $color-white;
      font-size: 1.5em;
      
    }
  }

  &__search {
    width: 9rem;
    height: 100%;
    text-align: center;
    border-left: 2px solid $color-dark-grey-2;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
  }
  

  &__search-icon {
    fill: $color-white;
    width: 2rem;
    height: 2rem;

  }

}