.section__news {
  margin: 10rem 2rem 0;

  & h2 {
    font-size: 2.3rem;
    text-align: center;
  }
}

.news {
  &__cards {
    padding: 4.5rem 0 2.5rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  &__card {
    width: 30rem;
    box-shadow: $card-shadow;
    border-radius: 5px;
    margin: 0 2rem 4rem;
  }

  &__picture {
    width: 100%;
    height: 23rem;
    overflow: hidden;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    & img {
      height: 100%;
    }
  }

  &__details {
    padding: 2rem 2.5rem;
    text-align: center;

    &-title {
      font-size: 1.6rem;
      color: $color-dark-grey-2;
    }
    &-content {
      padding: 1rem 0;
      font-size: 1.4rem;
      color: $color-grey-text;
      line-height: 1.8;
      border-bottom: 1px solid $color-light-grey-2;
    }
    &-author {
      display: flex;
      margin-top: 1.5rem;
      justify-content: center;
      align-items: center;

      & p {
        font-size: 1.4rem;
        font-weight: bold;
        color: $color-grey;
      }
      &-pic {
        width: 2.8rem;
        height: 2.8rem;
        border-radius: 100px;
        overflow: hidden;
        margin: 0 1rem;

        & img {
          width: 100%;
        }
      }
    }
  }
}
